/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.bypostauthor {
  display: block;
}
.comment-content a {
  word-wrap: break-word;
}
.comment-meta .comment-content {
  margin-left: 75px;
  padding-left: 25px;
}
.comments-area {
  h2, h3 {
    text-transform: uppercase;
  }
  ol {
    padding: 0;
    margin: 0;
  }
}
.comment-body {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.comment-form {
  label {
    display: block;
  }
  input[type=text], input[type=email], input[type=url] {
    width: 100%;
  }
}
.comment-form-author .comment-form-email {
  float: left;
  width: 49%;
}
.comment-form-email {
  margin-left: 2%;
}
.comment-form-url{
  width: 100%;
}
.comment-author-avatar {
  float: left;
  width: 75px;
}
.avatar {
  border-radius: 50%;
}
