/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* Posts and pages */
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */
.bypostauthor {
  display: block;
}

.comment-content a {
  word-wrap: break-word;
}

.comment-meta .comment-content {
  margin-left: 75px;
  padding-left: 25px;
}

.comments-area {

  h2,
  h3 {
    text-transform: uppercase;
  }

  ol {
    padding: 0;
    margin: 0;
  }
}

.comment-body {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.comment-form {
  label {
    display: block;
  }

  input[type=text],
  input[type=email],
  input[type=url] {
    width: 100%;
  }
}

.comment-form-author .comment-form-email {
  float: left;
  width: 49%;
}

.comment-form-email {
  margin-left: 2%;
}

.comment-form-url {
  width: 100%;
}

.comment-author-avatar {
  float: left;
  margin-right: 15px;
}

.avatar {
  border-radius: 50%;
}

.comment-author {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
}

.comment-metadata {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
  color: grey;

  a {
    color: #248a83;
    text-decoration: none;
  }
}

p {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: normal;
  margin-bottom: .75rem;
}

.reply a {
  color: #248a83;
  text-decoration: none;
  font-family: "Merriweather", sans-serif;
  font-size: 1rem;
}

.logged-in-as {
  a {
    text-decoration: none;
    color: #248a83;
  }
}

.comments-area h3 {
  font-family: 'Novecento Sans Web', sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  margin-top: 50px;
}

.comments-title {
  font-family: 'Novecento Sans Web', sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #e1e1e1;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #2f1339;
  font-size: 33.6px;
}

.comment-form label {
  margin-bottom: 10px;
}

.comment-form {
  input[type=email],
  input[type=password],
  input[type=search],
  input[type=text],
  input[type=url],
  textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;
  }
}

// .comment-form {
//   input[type=text],
//   input[type=email] {
//     display: flex;
//     flex-direction: row;
//     width: 30%;
//   }
// }

.form-submit .submit {
  margin-bottom: 100px;
  border: none;
  background: #248a83;
  color: white;
  text-transform: uppercase;
  font-family: "Novecento Sans Web", sans-serif;
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: none;
  box-shadow: none;
  text-shadow: none;

  &:hover {
    background: #194C4C;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: none;
    box-shadow: none;
    text-shadow: none;
  }
}