.main-content-container {
  max-width: 1120px;
  margin: 0 auto;
}

body {
  color: #404040;
  font-family: Merriweather Web,serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.site-header {
  z-index: 99;
  width: 100%;
  height: 50px;
  font-family: "Novecento Sans Web", sans-serif;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e1e1e1;
  a {
    margin-top: -30px;
  }
  fieldset {
    margin-top: -20px;
    border: none;
    .nav-search-icon {
      color: #248a83;
    }
  }
  .site-branding {
    display: flex;
    justify-content: flex-start;
    .site-icon {
      height: 33px;
      width: 50px;
      margin-top: 10px;
      margin-left: -50px;
    }
  }
}

.logged-in {
  .site-header {
    z-index: 99;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Novecento Sans Web", sans-serif;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e1e1e1;
    a {
      margin-top: 4px;
    }
    fieldset {
      margin-top: 8px;
      border: none;
      .nav-search-icon {
        color: #248a83;
      }
    }
  }
  .site-branding {
    display: flex;
    justify-content: flex-start;
    .site-icon {
      height: 33px;
      width: 50px;
      margin-top: 30px;
      margin-left: -50px;
    }
  }
}

.main-navigation {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  margin-top: 35px;
 a {
    text-transform: uppercase;
    color: teal;
    padding: 12.5px;
    &:hover {
      color: grey;
    }
  }
}

.site-header .search-submit {
  display: none;
}
.site-header .search-field {
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
  font-family: "Novecento Sans Web", sans-serif;
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  border: none;
  background: transparent;
  outline-width: 0;
}

.site-header .search-field.show {
  width: 100px;
  opacity: 1;
}