/*--------------------------------------------------------------
# Page Templates
# Contains templates for About page, Sidebar, Single Blog Post page,
--------------------------------------------------------------*/

// About Page
.content-area {
  // width: 100%;
  .hero-image-header {
    height: 100vh;
  }
  h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Novecento Sans Web", sans-serif;
    line-height: 1.25;
  }
  h2 {
    margin-top: 60px;
    font-size: 2.1rem;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Novecento Sans Web", sans-serif;

  }
  p {
    width: 800px;
    margin-left: auto;
    
    margin-right: auto;
    margin-bottom: 60px;
    font-family: "Merriweather", sans-serif;
  }
}

// Sidebar
.sidebar {
  width: 300px;
  min-height: 100%;
  border-left: 1px solid teal;
  padding: 100px 0 0 50px;
  h2 {
    font-family: "Novecento Sans Web", sans-serif;
    font-size: 1.35rem;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 700;
  }
  p {
    margin: 15px 0;
    }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    font-family: "Merriweather", sans-serif;
    color: orange;
    &:hover {
      color: black;
    }
  }
}

// Single Blog Post Page
.post {
  position: relative;
  overflow: hidden;
  padding: 100px 30px 0 0;
  width: 790px;
  img {
    width: auto;
    height: 520px;
    min-width: 100%;
  }
  .entry-title {
    font-family: "Novecento Sans Web", sans-serif;
    font-size: 39px;
    position: absolute;
    padding: .75rem 1.5rem;
    margin-top: 2.25rem;
    background: #248a83;
    text-align: left;
    line-height: 1.1;
    top: 110px;
    max-width: 75%;
    a, .entry-title {
      color: white;
      font-size: 2.2rem;
      font-weight: 700;
      padding: 0;
      &:hover {
        color: orange;
      }
    }
  }




  .entry-meta {
    position: absolute;
    font-family: "Novecento Sans Web", sans-serif;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
    right: 30px;
    top: 592px;
    background: #248a83;
  }
}